body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    }

.LOGO {
    color: white;
    font-family: Poppins;
    font-size: 29px;
    font-weight: 800;
    line-height: 153.5%;
    margin: 0%;
    grid-area: head1;
    }

button {
    background-image: url(/images/button.png);
    color: white;
}

.header {
    display: inline-grid;
    grid-template-areas: ".LOGO .menu .Contact_us"; 
    grid-template-rows: 3fr;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;

}

.container {
    display: inline-grid;
    justify-content: right;
    grid-template-areas: "head1 head2" "section1 section2" "gallery button1" "game-gallery game-gallery";
    grid-template-rows: 1fr 3fr 1fr 2fr;
    grid-template-columns: repeat(2, 2fr);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    gap: 2%;
}

.menu, .Contact_us {
    grid-area: head2;
    display: inline-grid;
}

.menu {
color: white;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-grid;
}