body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    }

.LOGO {
    color: white;
    font-family: Poppins;
    font-size: 29px;
    font-weight: 800;
    margin: 0%;
    }

button {
    background-image: url(/images/button.png);
    color: white;
    margin-left: 700%;
    margin-top: 20%;
    width: 80px;
    height: 20px
}

.header {
    display: inline-grid;
    justify-content: space-between;
    grid-template-areas: ".LOGO .menu .Contact_us"; 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    display: grid;
    justify-content: space-between;
    grid-template-areas: "header header" "section1 section2" "gallery button1" "game-gallery game-gallery";
    grid-template-rows: 1fr 3fr 1fr 2fr;
    grid-template-columns: 2fr 2fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    gap: 2%;
}

.menu {
color: white;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    width: 20vw;
    margin-left: 200%;
}
