body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    }

.LOGO {
    color: white;
    font-family: Poppins;
    font-size: 29px;
    font-weight: 800;
    margin: 0%;
    }

.button0 {
    background-image: url(/images/button.png);
    color: white;
    margin-top: 20%;
    width: 131.771px;
    height: 41.343px;
    flex-shrink: 0;
    grid-area: .Contact_Us;
    border-radius: 6px;
}

.header {
    display: inline-grid;
    justify-content: space-between;
    grid-template-areas: ".LOGO .menu .Contact_us"; 
    grid-template-rows: 1fr;
    grid-template-columns: 0.2fr 0.6fr 0.2fr;
    grid-area: header;
}

.container {
    display: grid;
    justify-content: space-between;
    grid-template-areas: "header header" "section1 joystick" "section2 joystick" "LI joystick" "button1 joystick" "article3 button2" "game-gallery game-gallery";
    grid-template-rows: 1fr 0.1fr 2fr 2fr 3fr;
    grid-template-columns: 1.5fr 1.5fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 7;
    gap: 2%;
}

.menu {
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    width: 20vw;
    margin-left: 40%;
}

.article1 {
    color: #E87D0E;
    float: left;
    grid-area: section1;
    margin-right: 70%;
    display: grid;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155.2%;
}

img {
    grid-area: joystick;
    justify-content: center;
}

.article2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 155.2%;
    grid-area: section2;
}

.LI {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    float: left;
    grid-area: LI;
}

.button1 {
    color: #FFF;
    background-color: #E87D0E;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 195px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 40px;
}

.article3 {
    color: #FFF;
    font-family: Rubik;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: 187.5%;
}

.button2 {
    color: #FFF;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.11);
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 187.5%;
    width: 139px;
    height: 57px;
    flex-shrink: 0;
    margin-left: 80%;
}

.game-gallery {
    display: inline-grid;
    justify-content: space-between;
    grid-template-areas: ".fc1 .fc2 .fc3 .fc4"; 
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-area: .game-gallery;
}

.fc1 {
    color: #FFF;
font-family: Rubik, Sans-Serif;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 187.5%;
}